body {
    background-color: lightblue;
    font-family: Arial;
}

h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: green;
}

p {
    font-size: 16px;
    color: black;
}

.highlight {
    background-color: yellow;
    padding: 5px;
}

#box {
    margin-top: 10px;
    padding: 10px;
    background-color: lightgray;
    color: red;
}
