*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter',sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#151b2a;
    color:#e2e8f0;
    overflow-x:hidden;
    animation:fadeIn 1s ease;
}

@keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
}

/* Background Orbs */
.orb{
    position:fixed;
    width:400px;
    height:400px;
    border-radius:50%;
    filter:blur(120px);
    z-index:-1;
    animation:float 12s infinite alternate ease-in-out;
}

.orb1{ background:#2462e8; top:-100px; left:-100px; }
.orb2{ background:#9333ea; bottom:-150px; right:-150px; }

@keyframes float{
    from{transform:translateY(0);}
    to{transform:translateY(40px);}
}

/* Navbar */
nav{
    position:fixed;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
    background:rgba(11,17,32,0.9);
    backdrop-filter:blur(10px);
    transition:0.3s;
    z-index:1000;
}

nav.scrolled{
    padding:15px 8%;
    box-shadow:0 4px 20px rgba(0,0,0,0.4);
}

.logo{ font-weight:600; color:#38bdf6; }

nav ul{ display:flex; gap: 25px; list-style:none; }

nav ul li a{
    color:#e2e8f0;
    text-decoration:none;
    font-size:20px;
    transition:0.3s;
}

nav ul li a:hover{ color:#38bdf8; }

/* Hero */
.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding-top:80px;
}

.profile-img{
    width:200px;
    height:200px;
    border-radius:50%;
    border:4px solid #e8eced;
    margin-bottom:20px;
}

.hero span{ color:#3abff8; }
.hero h1{
    font-size:24px;
    font-weight:700;
}
.hero h2{
    font-size:24px;
    margin-top:10px;
}


.hero-desc{ margin-top:10px; color:#94a3b8;font-size:17px; }

.buttons{
    margin-top:20px;
    display:flex;
    justify-content:center;
    gap:15px;
}

.btn{
    padding: 15px 20px;
    background:#1e9dd3;
    color:black;
    border-radius:6px;
    text-decoration:none;
    transition:0.3s;
}

.btn:hover{
    background:white;
}

.linkedin{
    width:50px;
    height:50px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#1e293b;
    color:#38bdf8;
    transition:0.3s;
}

.linkedin:hover{
    background:#38bdf8;
    color:black;
    transform:rotate(360deg);
}

.stats{
    margin-top:30px;
    display:flex;
    justify-content:center;
    gap:40px;
}

.stats h3{
    font-size:20px;
    color:#38bdf8;
}

/* Section */
.section{
    padding:90px 8%;
    text-align:center;
}

.section h2{
    margin-bottom:30px;
    position:relative;
    display:inline-block;
}

.section h2::after{
    content:"";
    width:50%;
    height:3px;
    background:linear-gradient(90deg,#38bdf8,#9333ea);
    position:absolute;
    left:25%;
    bottom:-8px;
}

/* Grid */
.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.grid.small{
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
}

.card{
    background:rgba(30,41,59,0.7);
    padding:25px;
    border-radius:20px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px) scale(1.02);
    box-shadow:0 20px 40px rgba(0,0,0,0.4);
}

.cert-card i{
    font-size:30px;
    color:#3abff8;
    margin-bottom:10px;
}

/* Contact */
.contact-grid{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.contact-card{
    width:100px;
    height:100px;
    background:#1e293b;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    color:white;
    transition:0.3s;
}

.contact-card:hover{
    background:#38bdf8;
    color:black;
    transform:translateY(-6px);
}

.reveal{
    opacity:0;
    transform:translateY(40px);
    transition:0.8s;
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}

footer{
    padding:20px;
    text-align:center;
}
